<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <RollingFile
                name="roll-by-size"
                fileName="logs/finalProject/app.log"
                filePattern="logs/finalProject/app.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 KB"/>
            </Policies>
        </RollingFile>
        <Console
                name="console"
                target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="roll-by-size"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>