#reg_page #reg_button,
#sign_in_page #sign_in_button {
    display: none;
}
table td {
    position: relative;
}
table td input {
    position: absolute;
    background: transparent;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: black;
    padding: 10px;
    box-sizing: border-box;
}

.localization-form button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: blue;
}


